html {
overflow-y: scroll;
overflow-x: scroll;
}

body{
    width:1080px; 
    height:715px; 
    margin: 0 auto; 
   /* overflow: hidden;*/
    position: relative;
}

h4{  
    text-align: center;
}

#manual_button, #data_button{
    position:absolute; 
    left: 30px;
    cursor: pointer;
}

.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        -webkit-animation-name: fadeIn; /* Fade in the background */
        -webkit-animation-duration: 0.4s;
        animation-name: fadeIn;
        animation-duration: 0.4s
    }

    /* Modal Content */
    .modal-content {
        position: fixed;
        bottom: 0;
        background-color: #fefefe;
        width: 100%;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: black;
        color: white;
    }

    .modal-body {padding: 2px 16px;}

    /* Add Animation */
    @-webkit-keyframes slideIn {
        from {bottom: -300px; opacity: 0} 
        to {bottom: 0; opacity: 1}
    }

    @keyframes slideIn {
        from {bottom: -300px; opacity: 0}
        to {bottom: 0; opacity: 1}
    }

    @-webkit-keyframes fadeIn {
        from {opacity: 0} 
        to {opacity: 1}
    }

    @keyframes fadeIn {
        from {opacity: 0} 
        to {opacity: 1}
    }

#apparatus{
   /* position: relative;*/
    float:right;
}

#round-bottom-flask{
    position:absolute;
    z-index:2; 
    width:9%; 
    left:23%; 
    top:20%; 
    cursor:pointer;
}

#pipette{
    position:absolute;
    z-index:2; 
    width:4.4%; 
    left:49%; 
    top:15%;  
    cursor:pointer;
}

#cuvette{
   position: absolute;
    z-index: 2;
    width: 3%;
    left: 73%;
    top: 48%;
    cursor: pointer;
}

#comp_trans_button{
    position: absolute; 
    z-index: 2; 
    width: 13%;
    height: 26%; 
    left: 48%;
    top: 10%; 
    cursor: pointer;
}

#spectrolid_trans_button{
    position: absolute; 
    z-index:2;
    width: 5%; 
    height: 21%;
    left: 36%; 
    top: 14%;  
    cursor: pointer;
}

#spectrolid_trans_button1{
    position: absolute; 
    z-index:3;
    width: 4%; 
    height: 18%;
    left: 36%; 
    top: 2%;  
    cursor: pointer;
}

#reference{
    position: absolute; 
    z-index: 898; 
    width: 15%; 
    left: 40%; 
    top: 0%; 
    cursor: pointer;
    visibility: hidden;
}

#ref_cuvette{
    position: absolute; 
    z-index: 899; 
    width: 1.4%; 
    left: 37.35%; 
    top: 10%; 
    cursor: pointer;
}

#power_trans_button{
    position: absolute; 
    z-index:2;
    left: 18%; 
    top: 42%;
    width: 2%;
    height: 8%;
    cursor: pointer; 
}

#demo{
    position: absolute;
    top: 74%;
    left: 22%;
    max-width: 60%;
    color: yellow;
    text-align:left;
}

#clockScreen{
    position: absolute;
    top: 8%;
    left: 0%;
    visibility: hidden;
    z-index: 1100;
    width:98%;
    height: 94%;
}
#clockHand{
    position:absolute; 
    top:43.10%;
    left:49.70%; 
    visibility:hidden; 
    z-index:1102;
}

#scan{
    position: absolute;
    z-index: 1100;
    top: 62px;
    left: -15px;
    width: 103%;
    visibility:hidden;
}

#scan_graph{
    position: absolute;
    z-index: 1200;
    top: 9%;
    left: 15%;
    width: 71%;
    visibility : hidden;
}

#ok_btn{
    position: absolute;
    z-index: 1200;
    top: 76%;
    left: 45%;
    width: 9%;
    height: 5%;
    visibility : hidden;
    cursor: pointer;
}

#input1{
    position: absolute;
    z-index: 1200;
    top: 44%;
    left: 30%;
    width: 9%;
    height: 6%;
    visibility : hidden;
}

#input2{
    position: absolute;
    z-index: 1200;
    top: 50%;
    left: 30%;
    width: 9%;
    height: 5%;
    visibility: hidden;
}

#input3{
    position: absolute;
    z-index: 1200;
    top: 55%;
    left: 30%;
    width: 9%;
    height: 6%;
    visibility: hidden;
}

#instruction_bkgd{
    position: absolute;
    z-index: 1350;
    top: 87%;
    left: 7%;
    width: 90%;
    visibility: hidden;
}

#graph_instruction{
    position: absolute;
    z-index: 1351;
    top: 87%;
    left: 11%;
    color: white;
    max-width: 80%;
    text-align: left;
    font-size: 15px;
}

#video1{
    position:absolute;
    z-index:1200;
    top:30%;
    left:20%;
    visibility : hidden;
}

#disposegraph{
    position: absolute;
    z-index: 1200;
    width: 7%;
    left: 85%;
    top: 530px;
    cursor: pointer;
    height: 3%;
}

