body{
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.container{
    width:1080px; 
    height:715px; 
    position: relative;
}

h3{  
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

#reset_btn{
    margin: auto;
    display: block;
    cursor: default;
}

#shelf{
    margin:auto;
    display: block;
    width: 59%;
}

#round-bottom-flask{
    position:absolute;
    z-index:3; 
    left:24%; 
    top:-177%;
    width:7.5%;
    height:235%;
    cursor:pointer;
}

#pipette{
    position:absolute;
    z-index:4; 
    width:2%; 
    left:41%; 
    top:-172%;
    height: 239%;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
    transform: rotate(-8deg);
}

#beaker{
    position: absolute;
    z-index: 4;
    left: 52.5%;
    top: -136%;
    width: 7.6%;
}

#sol_beaker{
    position: absolute;
    z-index: 4;
    left: 67.5%;
    top: -95%;
    width: 6%;
}

#table{
    margin:auto;
    display: block;
    width:100%;
}

#instrument{
    position: absolute;
    z-index: 2;
    top:-48%;
    width: 37%;
    left:2%;
}

#wire{
    position: absolute;
    z-index: 3;
    top:-79%;
    width: 24%;
    left:37%;
    height: 85%;
}

#short_wire{
    position: absolute;
    z-index: 3;
    top:-67%;
    width: 24%;
    left:37.3%;
    height: 102%;
    visibility: hidden;
}

#stand{
    position: absolute;
    z-index: 3;
    top:-53%;
    width: 17.5%;
    left:46.8%;
}

#rod_name{
    position: absolute;
    z-index: 2;
    top:-73%;
    width: 13%;
    left:66%;
}

#instruction{
    position: absolute;
    top: 60%;
    left: 17%;
    max-width: 68%;
    color: yellow;
    text-align: left;
    font-size: 20px;
}

#power_trans_button{
    position: absolute; 
    z-index:2;
    left: 6%; 
    top: 53%;
    width: 1.5%;
    height: 6%;
}

#arrow1{
    position: absolute;
    top: 42%;
    width: 4%;
    left: 0%;
    visibility: hidden;
}

#arrow2{
    position: absolute;
    top: 43%;
    width: 4.5%;
    left: 62%;
    visibility: hidden;
}

#arrow3{
    position: absolute;
    top: 68%;
    width: 4.5%;
    left: 62%;
    z-index: 4;
    visibility: hidden;
}

#drop{
    position: absolute;
    top: 61%;
    width: 1.2%;
    left: 57.3%;
    z-index: 3;
    visibility: hidden;
}

#start_exp{
   position: absolute;
   top: 16%;
   width: 93%;
   height: 100%;
   left: 3.3%;
   z-index: 10;
   visibility: hidden; 
}
