body{
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    
}

.container{
    width:1080px; 
    height:715px; 
    position: relative;
}

h4{  
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

#reset_btn{
    margin: auto;
    display: block;
}

#data_buttons{
    position: absolute;
    top:126px;
}

#manual_button{
    position:absolute; 
    left: 70px;
    cursor: pointer;
    top: 23%;

}

#data_button{
    position:absolute; 
    left: 69px;
    cursor: pointer;
    top: 29%;

}
.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        -webkit-animation-name: fadeIn; /* Fade in the background */
        -webkit-animation-duration: 0.4s;
        animation-name: fadeIn;
        animation-duration: 0.4s
    }

    /* Modal Content */
    .modal-content {
        position: fixed;
        bottom: 0;
        background-color: #fefefe;
        width: 100%;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: black;
        color: white;
    }

    .modal-body {padding: 2px 16px;}

    /* Add Animation */
    @-webkit-keyframes slideIn {
        from {bottom: -300px; opacity: 0} 
        to {bottom: 0; opacity: 1}
    }

    @keyframes slideIn {
        from {bottom: -300px; opacity: 0}
        to {bottom: 0; opacity: 1}
    }

    @-webkit-keyframes fadeIn {
        from {opacity: 0} 
        to {opacity: 1}
    }

    @keyframes fadeIn {
        from {opacity: 0} 
        to {opacity: 1}
    }

#apparatus{
    float:right;
}

#solution{
    position:absolute;
    z-index:1099; 
    left:8%; 
    top:5%;
}

#scale{
    position: absolute;
    z-index: 1;
    left: 24%;
    top: 20%;

}

#conc_scale{
    position: absolute;
    z-index: 1;
    left: 2%;
    top: 35%;
    width: 85%;

}

#scale_image{
    /*position: absolute;*/
    z-index: 1;
    left: 2%;
    top: 2%;
    width: 90%;
}

#round-bottom-flask{
    position:absolute;
    z-index:2; 
    width:16%; 
    left:13%; 
    top:20%; 
    cursor:pointer;
}


#pipette{
    position:absolute;
    z-index:1; 
    width:4%; 
    left:45%; 
    top:9%;  
    cursor:pointer;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
    transform: rotate(-8deg);
}

#cuvette{
    position: absolute;
    z-index: 2;
    width: 4%;
    left: 72%;
    top: 48%;
    cursor: pointer;
}

#table_with_spec{
    margin:auto;
    display: block;
}

#comp_trans_button{
    position: absolute; 
    z-index: 2; 
    width: 13%;
    height: 26%; 
    left: 48%;
    top: 10%; 
    cursor: pointer;
}

#spectrolid_trans_button{
    position: absolute; 
    z-index:2;
    width: 5%; 
    height: 21%;
    left: 35.5%; 
    top: 14%;  
    cursor: pointer;
}

#spectrolid_trans_button1{
    position: absolute; 
    z-index:3;
    width: 4%; 
    height: 18%;
    left: 36%; 
    top: 2%;  
    cursor: pointer;
}

#reference{
    position: absolute; 
    z-index: 2; 
    width: 15%; 
    left: 40%; 
    top: 0%; 
    cursor: pointer;
    visibility: hidden;
}

#power_trans_button{
    position: absolute; 
    z-index:2;
    left: 17%; 
    top: 42%;
    width: 2%;
    height: 8%;
    cursor: pointer; 
}

#demo{
    position: absolute;
    top: 70%;
    left: 17%;
    max-width: 66%;
    color: yellow;
    text-align:left;
    font-size: 89%;
}

#clockScreen{
    position: absolute;
    top: 8%;
    left: 0%;
    visibility: hidden;
    z-index: 4;
    width:98%;
    height: 94%;
}
#clockHand{
    position:absolute; 
    top:43.18%;
    left:49.75%; 
    visibility:hidden; 
    z-index:5;
}

#scan{
    position: absolute;
    z-index: 6;
    top: 106px;
    left: -15px;
    width: 103%;
    visibility:hidden;
    /*filter:opacity(40%);*/
   /* opacity: 0.4;
    filter: alpha(opacity=10);*/ /* For IE8 and earlier */

}

#input_data{
    position: absolute;
    z-index: 8;
    top: 15%;
    left: 15%;
    width: 71%;
    height: 68%;
    visibility : hidden;
}

#ok_btn{
    position: absolute;
    z-index: 12;
    top: 78%;
    left: 45%;
    width: 9%;
    height: 5%;
    visibility : hidden;
    cursor: pointer;
}
#select{
    position: absolute;
    top:24%;
    left:30%;
    width: 15%;
    z-index: 12;
    visibility : hidden;
}

#input1{
    position: absolute;
    z-index: 12;
    top: 48%;
    left: 30%;
    width: 9%;
    height: 5.2%;
    visibility : hidden;
}

#input2{
    position: absolute;
    z-index: 12;
    top: 52.9%;
    left: 30%;
    width: 9%;
    height: 5.2%;
    visibility: hidden;
}

#input3{
    position: absolute;
    z-index: 12;
    top: 58%;
    left: 30%;
    width: 9%;
    height: 5%;
    visibility: hidden;
}

.videos{
    position:absolute;
    z-index:18;
    top:30%;
    left:20%;
    visibility : hidden;
}

#disposegraph{
    position: absolute;
    z-index: 20;
    width: 7%;
    left: 95%;
    top: 555px;
    cursor: pointer;
    height: 3%;
}


